@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
}
.max_width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  /* background: rgb(63, 66, 226); */
  font-family: sans-serif;
}
.navbar .max_width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}

/*  home section styling */

.home {
  display: flex;
  background: url("pic/profile1_n.jpg");
  /* padding-left: 300px; */
  background-position: right;
  background-position-x: right;
  background-position: fixed;
  background-repeat: no-repeat;
  /* background-size: unset; */
  background-attachment: fixed;
  background-color: rgb(5, 2, 2);
  height: 1000vh;
  color: #fff;
  /* min-height: 500px; */
  font-family: sans-serif;
}
.home .max_width {
  margin: 400px 0 auto 0px;
  position: fixed;
}
.home .home-content .text-1 {
  font-size: 25px;
}
.home .home-content .text-2 {
  font-size: 40px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 35px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background-color: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: crimson;
  background: none;
}
